.nav{
    padding: 20px 5px 20px;
}
.center{
    margin: 100px;
    padding: 100px;
    background-color: rgba(26, 26, 26,0.2); /* #1a1a1a */
}
.padding{
    width:100px;
    margin-top: 5px;
    list-style-type: none;
}
.padding2{
    width:200px;
    color: white;
    margin-top: 15px;
    list-style-type: none;
}
a:hover{
    color: white;
}
a:visited {
    color: white;
}
.bg{
    background-image: url("../images/img_h1.jpg");
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #438eb9;
    padding: 25px;
    position: static;
    bottom: 0px;
    width: 100%;
    color: #fdf9ff;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
.mainpad{
    padding: 5px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}