.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-image:-webkit-linear-gradient( #01579b,#0173cb );
    background-image: -moz-linear-gradient( #01579b,#0173cb );
    background-image: -ms-linear-gradient( #01579b,#0173cb );
    background-image: -o-linear-gradient( #01579b,#0173cb );
    background-image: linear-gradient( #01579b,#0173cb );
}
.navbarheight{
    padding: 50px 50px 10px;
}
.menubar:link{
    color: #fdf9ff;
}
.menubar:hover{
     color: #1a1a1a;
}
.menubar:visited{
    color: #fdf9ff;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #01579B;
    padding: 25px;
    position: static;
    bottom: 0px;
    width: 100%;
    color: #fdf9ff;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}